azure-identity>=1.15.0
azure-mgmt-monitor>=6.0.0
azure-mgmt-resource>=23.0.0
azure-mgmt-subscription>=3.0.0
azure-monitor-query>=1.2.0
azure-mgmt-cosmosdb
schedule>=1.2.0
dotenv

# AWS
boto3>=1.34.0
mmh3>=4.0.0
bitarray>=2.9.0
ijson>=3.3.0